@import 'bulma/css/bulma.css';

.custom-navbar-item {
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.custom-navbar-item:hover {
  background-color: #275c44; /* lighter green for hover */
  color: #f0f0f0; /* slight tone shift for visibility */
}

.quiz-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.quiz-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.has-background-dark-green {
  background-color: #103f2e !important;
}

.has-background-light-dark-green {
  background-color: #1f5d47 !important;
}

.is-dark-green {
  background-color: #155f45 !important;
  color: white !important;
  border: none;
}

.button.is-dark-green:hover,
.button.is-success.is-outlined:hover,
.button.is-danger.is-outlined:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.custom-navbar-item {
  margin-right: 2rem;
}